{% extends 'base.html.twig' %}

{% block title %}Admin Registration{% endblock %}

{% block body %}
    <h1>Admin Registration</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}

{% endblock %}
